<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.OrderDao">
    <resultMap id="BaseResultMap" type="com.example.demo.Order">
        <result column="id" property="ID" />
        <result column="user_id" property="UserID" />
        <result column="store_id" property="StoreID" />
        <result column="address_id" property="AddressID" />
        <result column="state" property="State" />
    </resultMap>

    <parameterMap id="Order" type="com.example.demo.Order"/>

    <sql id="Base_Column_List">
        id, user_id, store_id, address_id, state
    </sql>
    <select id="findAllOrder" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from order
    </select>

    <insert id="createOrder" parameterMap="Order" useGeneratedKeys="true" keyProperty="id">
        insert into
            order(id,user_id,store_id,address_id,state)
        values
            (#{ID},#{UserID},#{StoreID},#{AddressID},#{State})
    </insert>

</mapper>